.FilterButtons {
    position: relative;
    margin-bottom: 2rem;
}

.FilterInput {
    visibility: hidden;
}

.FilterInput:first-child {
    margin-right: 5rem;
}

.FilterLabel {
    position: absolute;
    cursor: pointer;
    border: 1px solid white;
    padding: 4px 8px;
}

.FilterLabel:first-of-type {
    left: 0;
}

.FilterLabel:last-of-type {
    right: 0;
}

.FilterLabel:hover,
.FilterInput:checked + .FilterLabel {
    background: white;
    color: #282c34;
    box-shadow: 1px 1px 2px white;
}